; OPTIONAL CONFIG FILE
; To use a config file, rename this file to "config.cfg" and change your desired args.
; Some args may not apply, and you can remove what you do not need.
; You can use this file together with CLI args if you want.

[Code42]
c42_authority_url=https://example.authority.com
c42_username=user@code42.com
c42_begin_date=2019-01-01
c42_end_date=2019-02-02
c42_ignore_ssl_errors=False
c42_output_format=JSON
c42_record_cursor=False
c42_exposure_types=SharedViaLink, SharedToDomain, ApplicationRead, CloudStorage, RemovableMedia, IsPublic
c42_debug_mode=False
c42_destination_type=SysLog
c42_destination=https://log.example.com
c42_syslog_port=514
c42_syslog_protocol=TCP
